# Godot
**/.godot/
**/.import/
*.import

# Addons (local/plugin binaries)
/touchpadviewer/addons/py4godot/
/touchpadviewer/addons/godot_super-wakatime/

# Assets (sources/archives)
/touchpadviewer/assets/source/
/touchpadviewer/assets/*.zip

# OS
.DS_Store
Thumbs.db

# Python
**/__pycache__/
*.pyc
